# Snapshot of the August 2024 hackathon environment with version pins removed.
# These dependencies are unmaintained. Review them before installing; do not deploy as-is.
absl-py
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
comm
contourpy
cycler
debugpy
decorator
defusedxml
dm-tree
executing
fastjsonschema
filelock
filetype
fire
flatbuffers
fonttools
fqdn
fsspec
gast
google-pasta
grpcio
h11
h5py
httpcore
httpx
hub-sdk
huggingface-hub
idna
imageio
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_widgets
kaleido
keras
kiwisolver
libclang
lazy_loader
libclang
mahotas
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mplfinance
mpmath
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
opencv-python
opencv-python-headless
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pybboxes
pycparser
Pygments
pyparsing
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
roboflow
rpds-py
sahi
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shapely
six
sniffio
soupsieve
stack-data
sympy
# TA-Lib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow-probability
termcolor
terminado
terminaltables
tf_keras
thop
threadpoolctl
tifffile
tinycss2
torch
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
ultralytics
ultralytics-thop
ultralyticsplus
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
xgboost
